@model Producto

<h1>Registrar Producto</h1>

<form action="~/producto/registrar" method="post">

<div class="form-group">
    <label>Nombre:</label>
    <input type="text" class="form-control" asp-for="Nombre" >
    @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    <label>Precio:</label>
    <input type="text" class="form-control" asp-for="Precio" >
    @Html.ValidationMessageFor(m => m.Precio, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    <label>Categoria:</label>
    <input type="text" class="form-control" asp-for="Categoria" >
    @Html.ValidationMessageFor(m => m.Categoria, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    <label>Marca:</label>
    <input type="text" class="form-control" asp-for="Marca" >
    @Html.ValidationMessageFor(m => m.Marca, "", new { @class = "text-danger" })
</div>

<button class="btn btn-primary">Registrar</button>

</form>